@import "fonts";
@import "vars";

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100;
	margin: 0;
}

body  {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

// Base

.btn {
	margin: 0 6px;
	padding: 11px 24px;
	font-size: 0.875em;
	font-weight: 500;
	color: #5999e5;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #5999e5;

	&_primary {
		color: #fff;
		background-color: #5999e5; 
	}

	&_accent {
		padding: 15px 24px;
		margin-left: 0;
		background-color: #7ed321;
		border: 1px solid #7ed321;
		color: #fff;
		letter-spacing: 0.5px
	}

	&_shadow {
		padding: 15px 24px;
		color: #2d78d1;
		border-radius: 4px;
		background-color: #b3ff5f;
		box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.24);
	}

	&_range {
		box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12);
	}
}

.title {
	margin: 30px 0 16px;
	font-size: 1.750em;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
	letter-spacing: 0.8px;
	line-height: 1.43;
	text-transform: uppercase;
}

.title2 {
	margin: 0 0 5px;
	font-size: 1.750em;
	font-weight: 300;
	color: rgba(47, 42, 42, 0.87);

	&_white {
		font-weight: 500;
		color: #fff;
	}
}

.txt-center {
	text-align: center;
}

// Grid

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.container {
	width: $lg;
	margin: 0 auto;
}

.col-6 {
	width: $col*6;
	float: left;
}

.col-4 {
	width: $col*4;
	float: left;
}

.col-8 {
	width: $col*8;
	float: left;
}

.offset-1 {
	margin-left: $col;
}


// Header

.header {
	position: relative;
	min-height: 100vh;
	background: url(../img/header-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center 36%;

	&__center {
		position: absolute;
		top: 32%;
		left: 0;
		right: 0;
	}

	&__text {
		padding-right: 25px;
		margin-left: $col;
	}

	&__txt {
		margin-bottom: 29px;
		color: rgba(0, 0, 0, 0.72);
	}

	&__image {
		position: relative;
		padding: 0 40px;
	}

	&__img-word {
		position: absolute;
		top: -40px;
		right: 100px;
	}

}


// Navigation

.nav {
	padding-top: 33px;

	&__left {
		float: left;
	}

	&__right {
		float: right;
		padding-top: $nav-padd-top;
		text-align: right;
	}
}

.logo {
	display: inline-block;
	margin-right: 50px;
}

.menu {
	display: inline-block;
	padding-top: $nav-padd-top;
	vertical-align: top;

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 60px;
		}
	}

	&__link {
		font-size: 0.875em;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.38);
		text-transform: uppercase;

		&.active {
			color: rgba(0, 0, 0, 0.97);
		}
	}
}

.lang {
	display: inline-block;

	&__link {
		padding: 0 10px;
		font-size: 0.875em;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.38);
		text-transform: uppercase;
		
		&:first-child {
			border-right: 1px solid rgba(0, 0, 0, 0.38);
		}

		&.active {
			color: rgba(0, 0, 0, 0.87);
		}
	}
}

// Section begin

.begin {
	padding: $begin-padd;
	background: #10bd99;
	background-image: url(../img/begin-bg.svg);
	background-image: url(../img/begin-bg.svg), linear-gradient(to right, #10bd99 0%, #5899e4 100%);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center 70%;

	&__right {
		padding: $begin-right-padd;
	}

	&__list {
		margin: 26px 0 40px;
		padding-left: 55px;
	}

	&__item {
		position: relative;
		margin-bottom: 10px;
		padding: 15px 20px;
		color: #fff;
		border-radius: 32px;
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

		&.active {
			color: #1d515f;
			background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.49) 51%, rgba(255, 255, 255, 0));
		
			.begin__count {
				color: #fff;
			}
		}
		
	}

	&__count {
		position: absolute;
		top: -25px;
		left: -55px;
		color: rgba(255, 255, 255, 0.15);
		font-size: 4.375em;
		font-weight: bold;
	}

	&__left {
		position: relative;
	}

	&__img {
		position: absolute;
		top: 160px;
		right: 120px;
	}
}

// Tabs - roles section

.roles {
	padding: $roles-padd;
}

.tabs {
	padding: $tabs-padd;
	text-align: center;
}

.tab__inp {
	display: none;

	&:checked + .tab__lbl {

		.role__name {
			color: #fff;
			background-color: #5999e5;

			&:after {
				border-top: 10px solid #5999e5;
			}
		}

		.role__img {
			filter: grayscale(0);
		}
	}
}

#tab-1:checked ~ .tab-text {
	.tab-1 {
		display: inline-block;
	}
}

#tab-2:checked ~ .tab-text {
	.tab-2 {
		display: inline-block;
	}
}

#tab-3:checked ~ .tab-text {
	.tab-3 {
		display: inline-block;
	}
}

#tab-4:checked ~ .tab-text {
	.tab-4 {
		display: inline-block;
	}
}

#tab-5:checked ~ .tab-text {
	.tab-5 {
		display: inline-block;
	}
}

.tab__lbl {
	display: inline-block;
	width: $tabs-width;
	font-size: 1.125em;
	color: rgba(47, 42, 42, 0.38);
	text-align: center;
	cursor: pointer;
}

.role {
	display: block;
	margin: 0 auto;
}

.role__img {
	filter: grayscale(90%);
	transition: all .3s ease;
}

.role__name {
	position: relative;
	display: inline-block;
	margin-top: 15px;
	padding: 4px 15px 3px;
	border-radius: 10px;
	transition: all .3s ease;
	&:after {
		position: absolute;
		content: '';
		top: 100%;
		left: 50%;
		margin-left: -8px;
		display: block;
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid transparent;
		transition: all .3s ease;
	}
}

.tab-text {
	margin-top: 85px;
	padding: 43px 0 42px;
	border-radius: 8px;
	background-color: #fafafa;
	text-align: center;

	&__item {
		position: relative;
		padding-left: 50px;
		display: none;
		font-size: 1.125em;
		line-height: 1.3;
		color: rgba(47, 42, 42, 0.87);
		vertical-align: top;
		text-align: left;
		
		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: 0;
			width: 36px;
			height: 36px;
			background: url(../img/check.svg); 
		}
	}
}

// Section range

.range {
	padding: 140px 0 160px;
	background-image: linear-gradient(to bottom, #ffffff, #f8fcff);

	&__left {
		padding-right: 70px;
	}

	&__right {
		padding-left: 40px;
	}

	&__input {
		width: 100%;
	}

	&__scale-list {
		padding-top: 20px;
		text-align: justify;
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
	}

	&__scale-item {
		width: 45px;
		position: relative;
		display: inline-block;
		font-size: 0.750em;
		color: #1d515f;
		text-align: center;

		&:after {
			content: '';
			position: absolute;
			top: -25px;
			left: 50%;
			width: 1px;
			height: 13px;
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:first-child {
			text-align: left;
			.helper {
				margin-left: -6px;
			}
		}

		&:last-child {
			text-align: right;
			.helper {
				margin-right: -16px;
			}
		}

		&:first-child:after {
			left: 1px;
		}

		&:last-child:after {
			left: auto;
			right: -1px;
		}
	}
}

.output {
	padding: 42px 0;
	margin-bottom: 20px;
	border-radius: 8px;
	background-color: #fff;
	border: solid 1px #f5f5f5;

	&__title-list {
		width: 100%;
		border-right: 1px solid #e4e4e4;
		padding: 8px 8px 8px 42px;
	}

	&__title-item {
		font-size: 0.875em;
		color: rgba(0, 0, 0, 0.54);
		letter-spacing: 0.4px;

		&:not(:last-child) {
			padding-bottom: 24px
		}
	}

	&__number-list {
		padding-left: 54px;
		display: none;
		
		&.active {
			display: block;
		}
	}

	&__number-item {
		padding-bottom: 12px;
		font-size: 1.375em;
		letter-spacing: 0.6px;
		color: #5999e5;
	}

}

.txt {
	color: rgba(47, 42, 42, 0.72);
	padding: 19px 0 30px;
}
// input range

.range__input {
	position: relative;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	-webkit-appearance: none;
	width: 100%;
	height: $track-height;
	background: linear-gradient(to right, $track-color 0%, $track-color 42.85%, #fff 42.85%, #fff 100%);
	border: solid 1px #e4e4e4;
	border-radius: 4px;
	z-index: 2;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: $track-height;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-radius: 25px;
		border: 0px solid $track-color;
	}

	&::-webkit-slider-thumb {
		border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-widthHeight;
		width: $thumb-widthHeight;
		border-radius: 50%;
		background: #5999e5;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: $thumb-margin;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
	}

	&:focus::-webkit-slider-runnable-track {
		height: $track-height;
	}

	&::-moz-range-track {
		width: 100%;
		height: $track-height;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-radius: 25px;
		border: solid 1px #e4e4e4;
	}

	&::-moz-range-thumb {
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
		border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-widthHeight;
		width: $thumb-widthHeight;
		border-radius: 50%;
		background: #5999e5;
		cursor: pointer;
		margin-top: $thumb-margin;
	}

	&::-ms-track {
		width: 100%;
		height: $track-height;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		border-width: 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: $track-color;
		border: solid 0px #e4e4e4;
		border-radius: 50px;
	}

	&::-ms-fill-upper {
		background: #fff;
		border: solid 1px #e4e4e4;
		border-radius: 50px;
	}

	&::-ms-thumb {
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
		border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-widthHeight;
		width: $thumb-widthHeight;
		border-radius: 50%;
		background: #5999e5;
		cursor: pointer;
		margin-top: $thumb-margin;
	}

	&:focus::-ms-fill-lower {
		background: $track-color;
	}

	&:focus::-ms-fill-upper {
		background: #fff;
	}
}

@import "media";