@import "fonts";
@import "vars";

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100;
	margin: 0;
}

body  {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

// Base

.btn {
	margin: 0 6px;
	padding: 11px 24px;
	font-size: 0.875em;
	font-weight: 500;
	color: #5999e5;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #5999e5;

	&_primary {
		color: #fff;
		background-color: #5999e5; 
	}

	&_accent {
		padding: 15px 24px;
		margin-left: 0;
		background-color: #7ed321;
		border: 1px solid #7ed321;
		color: #fff;
		letter-spacing: 0.5px
	}
}

.title {
	margin: 30px 0 16px;
	font-size: 1.750em;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
	letter-spacing: 0.8px;
	line-height: 1.43;
	text-transform: uppercase;
}

.title2 {
	margin: 0 0 5px;
	font-size: 1.750em;
	color: rgba(47, 42, 42, 0.87);

	&_white {
		font-weight: 500;
		color: #fff;
	}
}

// Grid

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.container {
	width: $lg;
	margin: 0 auto;
}

.col-6 {
	width: $col*6;
	float: left;
}

.col-4 {
	width: $col*4;
	float: left;
}

.offset-1 {
	margin-left: $col;
}


// Header

.header {
	position: relative;
	min-height: 100vh;
	background: url(../img/header-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center 36%;

	&__center {
		position: absolute;
		top: 32%;
		left: 0;
		right: 0;
	}

	&__text {
		padding-right: 25px;
		margin-left: $col;
	}

	&__txt {
		margin-bottom: 29px;
		color: rgba(0, 0, 0, 0.72);
	}

	&__image {
		position: relative;
		padding: 0 40px;
	}

	&__img-word {
		position: absolute;
		top: -40px;
		right: 100px;
	}

}

// Navigation

.nav {
	padding-top: 33px;

	&__left {
		float: left;
	}

	&__right {
		float: right;
		padding-top: $nav-padd-top;
		text-align: right;
	}
}

.logo {
	display: inline-block;
	margin-right: 50px;
}

.menu {
	display: inline-block;
	padding-top: $nav-padd-top;
	vertical-align: top;

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 60px;
		}
	}

	&__link {
		font-size: 0.875em;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.38);
		text-transform: uppercase;

		&.active {
			color: rgba(0, 0, 0, 0.97);
		}
	}
}

.lang {
	display: inline-block;

	&__link {
		padding: 0 10px;
		font-size: 0.875em;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.38);
		text-transform: uppercase;
		
		&:first-child {
			border-right: 1px solid rgba(0, 0, 0, 0.38);
		}

		&.active {
			color: rgba(0, 0, 0, 0.87);
		}
	}
}

// Section begin

.begin {
	padding: $begin-padd;
	background: #10bd99;
 	background-image: url(../img/begin-bg.svg);
	background-image: url(../img/begin-bg.svg), linear-gradient(to right, #10bd99 0%, #5899e4 100%);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center 70%;

	&__list {
		
	}
}




@import "media";