@media only screen and (max-width: 1264px) {

    .container {
    	width: 100%;
    }

}

@media only screen and (max-width: $md) {

    .nav {
    	display: none;
    }

    .hamburger {
    	display: block;
    }

    .col-md-12 {
    	width: 100%;
    	float: none;
    	margin: 0;
    	padding: 20px 0;
    	text-align: center;
    }

    .tab__lbl {
    	margin-bottom: 35px;
    }

    .range__left {
    	padding: 0 15px;
    }
	
	.workflow {
		text-align: center;
	}

    .economy__item {
    	height: auto;
    	margin: 20px 0;
    }

    .faq__bottom {
    	padding: 40px 0;
    }

    .tab-text {
    	margin-top: 20px;
    }

    .modal__inner {
    	width: 320px;
    	top: 50px;
    	transform: translate(-50%, 0);
    }

}

@media only screen and (max-width: $sm) {

	.col-sm-12 {
		width: 100%;
	}

	.txt-left-sm {
		text-align: left;
		margin-bottom: 25px;
		padding-left: 50px;
	}

	.begin, .roles, .range, .documents, .economy, .trust {
		padding: 50px 0;
	}

	.economy .title2 {
	    margin-bottom: 50px;
	}

	.tab-text {
		text-align: center;
		padding: 30px 0 5px;
		margin-top: 0;
	}

	.tabs {
		padding: 50px 0 0;
		text-align: center;
	}

	.documents__item {
		width: 100%;
	}

	.sm__img-12 {
		width: 100%;
		height: auto;
	}

	.trust__item {
		width: 50%;
		float: left;
		text-align: center;
	}

	.begin__img {
		width: 30%;
		height: auto;
	}

	.output {
	    background-color: transparent;
	    border: solid 0px transparent;
	}

	.range__scale-list {
		padding: 8px 8px 8px 0px;
	}

	.output__title-list {
		padding: 8px 0;
	}
}

@media only screen and (max-width: $xs) {

	.xs-img-12 {
		width: 100%;
		height: auto;
	}

	.xs-hide {
		display: none;
	}

	.output__number-list {
	    padding: 8px 5px;
	}

	.output__title-list {
		text-align: left;
	}

	.faq__bottom {
	    background: none;
	}

	.begin__right {
		padding: 60px 0 0 0;
	}

	.xs-inline {
		display: inline-block;
		width: auto;
		float: none;
	}

	.output__title-list {
		border-right: none;
	}

	.output__number-item {
		font-size: 0.875em;
		padding-bottom: 24px;
	}

	.range__left {
	    padding: 0;
	}

	.txt-left-sm {
		padding-left: 0;
	}

	body {
		font-size: 12px;
	}

	.title {
		margin-top: 0;
	}

	.header__text {
		padding-top: 0;
	}

	.header__txt {
		margin: 0 0 15px;
	}
}